#dice{

    font-size: 500px;
    color: rgb(90, 218, 222);
    text-align: center;
    text-shadow: 3px 3px;
}
body {
    
 color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#heading{
    background-color: rgb(21, 0, 255);
    box-shadow: 5px 5px 5px 5px rgb(205, 50, 50);
    text-shadow: 3px 3px 3px  rgb(145, 255, 0);
}